<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet" />

    <style>

        .sidebar {
            background-color: #333;
            color: white;
            width: 260px;
            position: fixed;
            top: 2rem;
            left: 0;
            height: calc(100% - 2rem);
            transition: left 0.3s ease-in-out;
        }

            .sidebar .nav-link {
                color: white;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div style="background-color: currentColor;">
                <button id="toggleSidebar" style="color:white;" class="btn btn-link">
                    <i class="fas fa-list"></i>
                </button>
            </div>
            <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Contenido principal -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="container">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>

        document.getElementById('toggleSidebar').addEventListener('click', function () {
            var sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('sidebar-opened');
        });
    </script>
</body>
</html>
